<div class="answer">

  <p class="response"><strong>Answer: </strong> <br>{{answer.response}}</p>
  <p class="author"><strong>Submitted by:</strong> <br>{{answer.author}}</p>

  <div class="form-group">
    <button class="btn btn-danger btn-sm" {{action 'delete' answer}}>Delete Answer</button>
  </div>

</div>
