<p class="response">{{answer.response}}</p>
<p class="author">{{answer.author}}</p>

<div class="form-group">
  <button class="btn btn-danger" {{action 'delete' answer}}>Delete Answer</button>
</div>
