<div class= "container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          {{#link-to 'index' class="navbar-brand"}}<p>Tech-Forum</p>{{/link-to}}
        </div>
      </div>
    </nav>
    {{outlet}}
</div>
